@import 'tailwindcss';

@font-face {
	font-family: 'SpaceGrotesk';
	src: url('./assets/fonts/SpaceGrotesk-Medium.woff2'),
		url('./assets/fonts/SpaceGrotesk-Medium.woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-white: hsl(0, 100%, 100%);
	--color-purple: hsl(278, 68%, 11%);

	--bg-desktop: url('./assets/images/bg-main-desktop.png');
	--bg-mobile: url('./assets/images/bg-main-mobile.png');
}

@layer base {
	body {
		font-family: SpaceGrotesk, sans-serif;
		font-size: 18px;
	}
}

@layer components {
	.input-style {
		@apply rounded-md border-2 border-gray-400 block w-full py-2 px-1.5 outline-0 mt-1 font-normal text-base;
	}

	.flex-input-style {
		@apply rounded-md border-2 border-gray-400  px-1.5 outline-0 mt-2 w-1/2 text-base font-normal;
	}

	.label-style {
		@apply text-purple uppercase mb-5 font-semibold block text-sm tracking-widest;
	}
}
