@import 'tailwindcss';

@font-face {
	font-family: 'SpaceGrotesk';
	src: url('./assets/fonts/SpaceGrotesk-Medium.woff2'),
		url('./assets/fonts/SpaceGrotesk-Medium.woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-white: hsl(0, 100%, 100%);
	--color-purple: hsl(278, 68%, 11%);
	--color-gray-400: hsl(212, 12%, 71%)
	--color-gray-200: hsl(270, 3%, 87%)
	--color-red: hsl(0, 100%, 66%);
	--bg-desktop: url('./assets/images/bg-main-desktop.png');
	--bg-mobile: url('./assets/images/bg-main-mobile.png');
}

@layer base {
	body {
		font-family: SpaceGrotesk, sans-serif;
		font-size: 18px;
	}
}

@layer components {
	.input-style {
		@apply rounded-md border-2 border-gray-200 block w-full h-full p-2 outline-0 font-normal text-base bg-white focus:border-0
	}

	.flex-input-style {
		@apply rounded-md border-2 p-2 border-gray-200 block outline-0 h-full w-full text-base font-normal bg-white focus:border-0
	}

	.label-style {
		@apply text-purple uppercase mb-5 font-semibold block text-sm tracking-widest;
	}

	.gradient-border {
		@apply rounded-md p-[1.5px] transition-all duration-200 mt-1 
		focus-within:bg-gradient-to-t
		focus-within:from-[hsl(249,99%,64%)]
		focus-within:to-[hsl(278,94%,30%)];
	}

	.invalid-style {
		@apply bg-red-400 rounded-md p-[1.5px] transition-all duration-200 mt-1 ;
	}

	.error-style {
		@apply text-red-400 text-sm normal-case tracking-normal font-normal
	}
}
